<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="css/game/2048/index.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="live2d/assets/waifu.min.css?v=1.4.2"/>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/game/2048/index.js" type="text/javascript"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <title>2048</title>
</head>
<body>
<h1>泉此方的springboot测试</h1>
<div id="preFiled" class="mainDiv" style="float:left;display:none;"></div>
<div id="mainFiled" class="mainDiv" style="float:left"></div>
<div style="float:left">
    <table class="tbResult">
        <tr>
            <td>地图大小: </td>
            <td>
                <select id="selMapSize">
                    <option value="2">2x2</option>
                    <option value="3">3x3</option>
                    <option value="4" selected = "selected">4x4</option>
                    <option value="5">5x5</option>
                    <option value="6">6x6</option>
                </select>
                <input type="button" value="确定" id="btnChangeMap"/>
            </td>
        </tr>
        <tr><td>当前得分: </td><td id='tdScore' >0</td></tr>
        <tr><td>最佳成绩: </td><td id='tdMaxScore' >0</td></tr>
        <tr><td colspan="2" id='tdFinished' style="display:none;color:red"></td></tr>
    </table>
</div>
<div style="position: absolute;right: 0px;
    bottom: 0px;">
    <div class="waifu">
        <div class="waifu-tips"></div>
        <canvas id="live2d" class="live2d"></canvas>
        <div class="waifu-tool">
            <span class="fui-home"></span>
            <span class="fui-chat"></span>
            <span class="fui-eye"></span>
            <span class="fui-user"></span>
            <span class="fui-photo"></span>
            <span class="fui-info-circle"></span>
            <span class="fui-cross"></span>
        </div>
    </div>
</div>
<!--<iframe src="https://www.baidu.com/" frameborder="0"></iframe>-->
<script src="live2d/assets/waifu-tips.min.js?v=1.4.2"></script>
<script src="live2d/assets/live2d.min.js?v=1.0.5"></script>
<script type="text/javascript">
    /* 可直接修改部分参数 */
    live2d_settings['modelId'] = 1;                  // 默认模型 ID
    live2d_settings['modelTexturesId'] = 87;         // 默认材质 ID
    live2d_settings['canCloseLive2d']       = true;         // 显示 关闭看板娘  按钮，可选 true(真), false(假)
    live2d_settings['canTurnToHomePage']    = false;         // 显示 返回首页    按钮，可选 true(真), false(假)
    live2d_settings['canTurnToHomePage']    = false;         // 显示 返回首页    按钮，可选 true(真), false(假)
    live2d_settings['canTurnToAboutPage']   = false;         // 显示 跳转关于页  按钮，可选 true(真), false(假)
    live2d_settings['waifuSize'] = '300x267';        // 看板娘大小  600x535  400x356  300x267(网页大小)
    live2d_settings['waifuTipsSize'] = '285x50';    // 提示框大小  570x150  300x100
    live2d_settings['waifuFontSize'] = '13px';       // 提示框字体  30px  15px
    live2d_settings['waifuEdgeSide'] = 'right:0';     // 看板娘贴边方向  right:30
    live2d_settings['waifuToolFont'] = '36px';       // 工具栏字体
    live2d_settings['waifuToolLine'] = '20px';       // 工具栏行高  50px
    live2d_settings['waifuToolTop'] = '-30px';       // 工具栏顶部边距  -60px
    live2d_settings['waifuDraggable'] = 'axis-x';    // 拖拽样式
    live2d_settings['modelStorage']         = true;         // 记录模型 ID (刷新后恢复)，可选 true(真), false(假)
    live2d_settings['modelRandMode']        = 'switch';     // 模型切换，可选 'rand'(随机), 'switch'(顺序)
    live2d_settings['modelTexturesRandMode']= 'switch';       // 材质切换，可选 'rand'(随机), 'switch'(顺序)
    /* 在 initModel 前添加 */
    initModel("live2d/assets/waifu-tips.json?v=1.4.2")
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            type:'post',
            url: "../ip",
            data:JSON.stringify(window.returnCitySN),
            contentType: 'application/json',
            dataType : "json",
            success: function (data) {}
        })
    })
</script>

</body>
</html>