<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.izumi.dao.VoteMapper" >

    <resultMap id="BaseResultMap" type="org.izumi.model.Vote" >
        <result column="fd_id" property="id" jdbcType="VARCHAR" />
        <result column="fd_question_explain" property="fdQuestionExplain" jdbcType="VARCHAR" />
        <result column="doc_subject" property="docSubject" jdbcType="VARCHAR" />
        <collection property="score" ofType="org.izumi.model.Score">
            <id column="t3fd_id" property="id"/>
            <result column="t3fd_answer" property="score"/>
        </collection>
    </resultMap>
    <resultMap id="BaseResultMap1" type="org.izumi.model.Vote" >
        <result column="fd_id" property="id" jdbcType="VARCHAR" />
        <result column="fd_question_explain" property="fdQuestionExplain" jdbcType="VARCHAR" />
        <result column="doc_subject" property="docSubject" jdbcType="VARCHAR" />
    </resultMap>


    <select id="selectVote" resultMap="BaseResultMap" parameterType="list">
        select t1.fd_id fd_id,t1.fd_question_explain fd_question_explain,t3.fd_answer t3fd_answer,t1.doc_subject doc_subject,t3.fd_id t3fd_id
        from km_pindagate_main t1
        LEFT JOIN km_pindagate_question t2 on t1.fd_id = t2.km_pindagate_main_id
        LEFT JOIN km_pindagate_question_res t3 on t2.fd_id = t3.fd_question_id
        where
--         where t1.fd_id = '177297aaeb2f3d4e0da09d542ca99b7a'
        <foreach collection="list"  item="id" open="(" close=")" separator="or">
            t1.fd_id = #{id}
        </foreach>
    </select>

    <select id="selectVoteAdd" resultMap="BaseResultMap" parameterType="java.lang.String">
        select t1.fd_id fd_id,t1.fd_question_explain fd_question_explain,t3.fd_answer t3fd_answer,t1.doc_subject doc_subject,t3.fd_id t3fd_id
        from km_pindagate_main t1
        LEFT JOIN km_pindagate_question t2 on t1.fd_id = t2.km_pindagate_main_id
        LEFT JOIN km_vote_sub t3 on t2.fd_id = t3.fd_question_id
        where
        t1.fd_id = #{mainid}
    </select>

    <select id="selectNullVote" resultMap="BaseResultMap" parameterType="list">
        select t1.fd_id fd_id,t1.fd_question_explain fd_question_explain,t3.fd_answer fd_answer,t1.doc_subject doc_subject
        from km_pindagate_main t1
        LEFT JOIN km_pindagate_question t2 on t1.fd_id = t2.km_pindagate_main_id
        LEFT JOIN km_pindagate_question_res t3 on t2.fd_id = t3.fd_question_id
        where t1.fd_id = '123'
    </select>

    <select id="selectAllVote" resultMap="BaseResultMap1">
        select t1.fd_id fd_id,t1.fd_question_explain fd_question_explain,t1.doc_subject doc_subject
        from km_pindagate_main t1 ORDER BY fd_id desc
    </select>

</mapper>